digraph G {
   concentrate=true;
   graph [fontname = "Handlee"];
   node [fontname = "Handlee"];
   edge [fontname = "Handlee"];
   node [style=filled,color=pink];
   fontsize=20;

   bgcolor=transparent;

    {% for name, group in groups|items %}
        {% for field in group.fields %}
            {{ field.path|join(" -> ") }};
        {% endfor %}
        {% for subgroup in group.subgroups %}
            {% for field in subgroup.fields %}
                {{ field.path|join(" -> ") }};
            {% endfor %}
        {% endfor %}
    {% endfor %}
}
